.feed_items {
  list-style: none;
  margin: 0;
  padding: 0;
}
.feed_items .time {
  padding: 2px 0 0 0;
  color: #666666;
  display: block;
  clear: left;
}
.feed_items > li {
  padding: 4px 0 2px 0;
  border: none;
  border-bottom: 1px solid #D6E8B6;  
}

.feed_items .headline {
  font-weight: bold;
}
.feed_items .author img {
  float: left;
  margin: 0 5px 2px 0;
  border-radius: 3px;
}

.feed_items .details {
  margin: 0;
  padding: 2px 0 0 48px;
}
.feed_items ul.commits {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feed_items ul.commits li {
  padding: 1px 0;
}

.feed_items ul.commits img {
  display: inline-block;
  vertical-align: bottom;
}

.feed_items ul.commits .gitid {
  display: inline-block;
  font-family: "Droid Sans Mono", fixed;
  margin: 0;
  padding: 0;
}
