<%= render @repository %>

<h2>Listing commits</h2>

<% @commits.each do |commit| %>
<%= render commit %>
<% end %>

<p class="page_navigation">
<% if @previous_page %>
  <%= link_to 'Older Commits', :page => @previous_page %>
<% end %>
<% if @next_page %>
  <%= link_to 'Newer Commits', :page => @next_page %>
<% end %>
</p>
