<h2 class="profile">
  <p class="name">
    <%= profile_image profile %>
    <%= link_to profile.name, profile %>
    <span class="display_name">
      (<%= profile.display_name %>)
    </span>
  </p>
</h2>
