<ul class="wide_list repositories"> 
<% repositories.each do |repository| %>
  <li>
    <%= link_to repository.name, repository %>

    <ul class="actions">
      <li>
        <%= link_to 'Delete', repository, :method => :delete,
                :confirm => "This will permanently delete all the information in the #{repository.name} repository." %>
      </li>
    </ul>
  </li>
<% end %>
</ul>
