<%= render @repository %>

<h2>Listing issues</h2>
<% unless @issues.select { |i| i.can_read? current_user }.empty? %>
<h3>Open Issues</h3>
<% readable_open_issues(@issues, current_user).each do |issue| %>
  <%= render 'issue', :issue => issue %>
<% end %>

<h3>Closed Issues</h3>
<% readable_closed_issues(@issues, current_user).each do |issue| %>
  <%= render 'issue', :issue => issue %>
<% end %>

<% else %>
There are no issues to display.
<% end %>

<br />

<% if @repository.can_read? current_user %>
<%= button_to 'New Issue', new_profile_repository_issue_path(
        @repository.profile, @repository), 
        :method => :get %>
<% end %>
