<div class="repository_blob">
<p class="metadata">
  <span class="type">
    <%= blob.mime_type %>
  </span>
  <span class="size">
    <%= number_to_human_size blob.size %>
  </span>
</p>

<section class="contents">
<%= marked_up_blob blob, blob_path %>
</section>

</div>
