<div class="repository_blob">
<p class="metadata">
  <span class="type">
    <%= blob.mime_type %>
  </span>
  <span class="size">
    <%= number_to_human_size blob.size %>
  </span>
</p>

<pre class="contents">
<%= GitHub::Markup.render(blob_path, blob.data).safe_html %>
</pre>

</div>
