<h1>Listing blobs</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blobs.each do |blob| %>
  <tr>
    <td><%= link_to 'Show', blob %></td>
    <td><%= link_to 'Edit', edit_blob_path(blob) %></td>
    <td><%= link_to 'Destroy', blob, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blob', new_blob_path %>
