<h2>Access Denied</h2>

<% if current_user %>
<p>
  You don't have access to the page that you tried to see. Perhaps you need to
  sign in as a different user?
</p>
<% else %>
<p>
  Please try <%= link_to 'Signing in', new_session_path %> to see the page.
</p>
<script type="text/javascript">
window.location = "<%= new_session_path %>";
</script>
<% end %>
