#header {
  position: relative;
  background-color: #E7F5D0;
  border: 1px solid #D6E8B6;
  margin: 0;
  padding: 0;
}
#header h1 {
  color: #516952;
  margin: 0;
  padding: 0 5px 0 5px;
}

#header .welcome_bar, #header .user_bar {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1.6em;
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0 5px 0 0;
}
#header li {
  float: left;
  margin: 0;
  padding: 0 0 0 1em;
}
#header a {
  text-decoration: none;
}
#header a:hover {
  background: none;
}
