header {
  position: relative;
  background-color: #E7F5D0;
  border: 1px solid #D6E8B6;
  margin: 0 0 1em 0;
  padding: 0;
}
header h1 {
  color: #516952;
  margin: 0;
  padding: 0 5px 0 5px;
}
header ol {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1.6em;
  overflow: hidden;
  margin: 0;
  padding: 0 5px 0 0;
  list-style: none;
}
header li {
  display: inline-block;
  margin: 0;
  padding: 0 0 0 1em;
}
header img {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 2px 1px 0;
}
header a {
  text-decoration: none;
}
header a:hover {
  background: none;
}
