.home_panel {
  position: relative;
}
.home_panel.repositories {
  width: 600px; 
  float: left;
}
.home_panel.keys {
  float: right;
  width: 350px;
  margin: 0 0 0 50px;
}
.home_panel.teams {
  clear: right;
  float: right;
  width: 350px;
  margin: 0 0 0 50px;
}
.home_panel.profiles {
  float: right;
  width: 350px;
  margin: 0 0 0 50px;
}
.home_panel .actions {
  position: absolute;
  top: 0;
  right: 0;
}
