h2.profile .name img {
  margin: 0 5px 0 0;
}
h2.profile .name img {
  display: inline-block;
  vertical-align: middle;
}
h2.profile .name a, h2.profile .name span {
  display: inline-block;
  vertical-align: -75%;
}
