.repository_tree {
  margin: 5px 0;  
  border: 1px solid #BECFA2;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #E7F5D0;
  overflow: hidden;
}
ol.repository_tree {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ol.repository_tree li {
  padding: 5px 1em;
  border-bottom: 1px solid #D6E8B6;
}
ol.repository_tree li:last-child {
  border-bottom: none;
}
ol.repository_tree li .name {
  display: inline-block;
  width: 600px;
}
ol.repository_tree li .type {
  display: inline-block;
  width: 160px;
}
ol.repository_tree li .size {
  display: inline-block;
  width: 200px;
  text-align: right;
}
ol.repository_tree li.header {
  font-weight: bold;
}
