<h1>Listing trees</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trees.each do |tree| %>
  <tr>
    <td><%= link_to 'Show', tree %></td>
    <td><%= link_to 'Edit', edit_tree_path(tree) %></td>
    <td><%= link_to 'Destroy', tree, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tree', new_tree_path %>
