<%= render @tree.repository %>
<%= render @tree_reference %>

<h3><%= tree_path_links @tree_reference, @tree_path %></h3>
<%= render @tree, :tree_reference => @tree_reference,
                  :tree_path => @tree_path %>
