/* @import url(http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT:italic); */
@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: normal;
  src: local('Cantarell'),
       font-url('cantarell.ttf') format('truetype');
}
@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: bold;
  src: local('Cantarell Bold'),
       font-url('cantarell_bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans Mono'),
       font-url('droid_sans_mono.ttf') format('truetype');
}
@font-face {
  font-family: 'Molengo';
  font-style: normal;
  font-weight: normal;
  src: local('Molengo'),
       font-url('molengo.ttf') format('truetype');
}

body {
  font-family: Cantarell, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

h1 {
  font-family: Molengo, monospace;
  font-size: 2.4em;
}

footer {
  font-family: Cantarell, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}

#content_wrapper {
  font-size: 1.3em;
  line-height: 1.12em;
}

pre, div.markdpwn-parsed-code {
  font-family: "Droid Sans Mono";
}
