.home_panel {
  position: relative;
}
.home_panel.repositories {
  width: 350px;
  clear: right; 
  float: right;
  margin: 0 0 0 50px;
}
.home_panel.keys {
  clear: right;
  float: right;
  width: 350px;
  margin: 0 0 0 50px;
}
.home_panel.teams {
  clear: right;
  float: right;
  width: 350px;
  margin: 0 0 0 50px;
}
.home_panel.feed {
  clear: left;
  float: left;
  width: 600px;
  margin: 0;
}
.home_panel.profiles {
  clear: right;
  float: right;
  width: 350px;
  margin: 0 0 0 50px;
}
.home_panel.subscribers {
  clear: right;
  float: right;
  width: 350px;
  margin: 0 0 0 50px;  
}
.home_panel .actions {
  position: absolute;
  top: 0;
  right: 0;
}
