.repository_blob {
  margin: 5px 0;
  padding: 0;  
  border: 1px solid #BECFA2;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;  
  background: #E7F5D0;
  overflow: hidden;
}
.repository_blob .metadata {
  margin: 0;
  padding: 0;
  position: relative;
  border-bottom: 1px solid #BECFA2;
}
.repository_blob .metadata .type {
  display: inline-block;
  padding: 5px 0 2px 1em;  
}
.repository_blob .metadata .size {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 5px 1em 2px 0;  
  width: 200px;
  border-left: 1px solid #D6E8B6;
  text-align: right;
}
.repository_blob .contents {
  margin: 0;
  padding: 0;
}
.repository_blob .contents pre {
  margin: 0;
  padding: 0.5em 1em 0.5em 1em;
}
