<!DOCTYPE html>
<html>
  <body>
    <h3>Dear <%= @token.user.email %>,</h3>
    
    <p>
      You are receiving this e-mail because someone (hopefully you) requested a
      password reset for your account at <%= link_to @root_url, @root_url %>.
    </p>
    
    <p>
      Please go <%= link_to 'here', @token_url %> to reset your password.
    </p>
    
    <p>
      If you haven't requested a password reset, please ignore this e-mail.
      Someone most likely mistyped their e-mail.
    </p>
  </body>
</html>
