<!DOCTYPE html>
<html>
  <body>
    <h3>Dear <%= @email %>,</h3>

    <p>
      You are receiving this e-mail because someone (hopefully you) requested a
      password reset for your
      <%= link_to @host, root_url(:host => @host, :protocol => @protocol) %>
      account.
    </p>

    <p>
      Please go
      <%= link_to 'here', token_session_url(@token, :host => @host,
                                            :protocol => @protocol) %>
      to reset your password.
    </p>

    <p>
      If you haven't requested a password reset, please ignore this e-mail.
      Someone most likely mistyped their e-mail.
    </p>
  </body>
</html>
