<footer>
  <ul>
    <li>
      <a href="http://gitref.org/">Quick guide to Git</a>
    </li>
    <li>
      <a href="http://progit.org/">Pro Git book</a>
    </li>
    <li>
      <a href="http://www.eclipse.org/egit/">Git Eclipse plugin</a>
    </li>
    <li>
      <a href="http://git-scm.com/download">Git software downloads</a>
    </li>
    <li>
      <a href="http://github.com/pwnall/gitty">Gitty source code</a>
    </li>
  </ul>
  
  <p class="signature">
    Designed by <a href="http://www.costan.us">Victor Costan</a> and
    <a href="https://github.com/pwnall/gitty/contributors">a team of
    contributors</a>
  </p>
</footer>
