<header id="header">
  <nav id="main-menu">
    <ol>
      <li>
        <%= link_to root_path do %>
          <h1>
            <span class="app-name">
              Gitty
            </span>
          </h1>
        <% end %>
      </li>
      <% if current_user %>
      <%= render 'layouts/menu' %>
      <% else %>
      <li> </li>
      <% end %>
    </ol>
  </nav>
</header>
