<!DOCTYPE html>
<html>
  <head>
    <title><%= config_vars_app_name %> Vars</title>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <h1><%= config_vars_app_name %> Configuration Vars</h1>
<%= yield %>
  </body>
</html>
